---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			I am currently a master student at <a href="https://www.pku.edu.cn">Peking University</a>,
			Beijing, P.R.China. My research interests include **applied cryptograpy** and
			**privacy-preserving computing**. I am highly interested in theoretical computer science as
			well as the real-world application and implementation of these frontier technologies. Before,
			I obtained my Bachelor's degree in Information Security from <a href="https://www.buaa.edu.cn"
				>Beihang University</a
			>, Beijing, P.R.China, where I was introduced to cryptograpy and decided to further my studies
			in this field.
		</p>
		<p>
			Apart from these, I am interested in virtualization and novel safety-oriented PLs like rust
			and zig. I am also interested in technologies in blockchain/web3, especially layer2, NFTs, and
			RWA. With [PKU Blockchain Association](https://x.com/PKUBlockchain) I attended the ETH Beijing
			Hackthon and got a third prize.
		</p>
		<p>
			For now I am working at [Ant Group](https://www.antgroup.com/) as a research intern, which
			will last until about March 2025 (before Qingming Festival). I am actively looking for
			internship with respect to cryptography, MPC, and blockchain. I am also searching for good
			opportunities to do a PhD in theoretical computer science, math, and cryptography.
		</p>
		<p>
			REST of this page is the default content of the Astro Cactus theme. I am too lazy to decorate
			the site for now.
		</p>
		<p>Here are my some of my awesome built in features:</p>
		<ul class="list-inside list-disc" role="list">
			<li>I'm ultra fast as I'm a static site</li>
			<li>I'm fully responsive</li>
			<li>I come with a light and dark mode</li>
			<li>I'm easy to customise and add additional content</li>
			<li>I have Tailwind CSS styling</li>
			<li>Shiki code syntax highlighting</li>
			<li>Satori for auto generating OG images for blog posts</li>
		</ul>
		<p>
			Clone or fork my <a
				class="cactus-link inline-block"
				href="https://github.com/chrismwilliams/astro-cactus"
				rel="noreferrer"
				target="_blank">repo</a
			> if you like me!
		</p>
	</div>
</PageLayout>
